body {
  padding: 0;
  margin: 0;
  
  font-family: sans-serif;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

#svg-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main-svg {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#party-id {
  position: absolute;
  right: 0;
  top: 0;
}

#welcome-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 50px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

#leaderboard-container {
  position: absolute;
  width: 200px;
  padding: 20px;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.207);
}

button {
  background: lightgray;
  border: 2px solid black;
  border-radius: 0;
  width: min-content;
  padding: 3px 5px;
}

label[for="player-name"] {
  margin: 0;
  padding: 0;
}

#player-name {
  padding: 3px;
  margin: 0;
}

#text-tester {
  visibility: hidden;
  position: absolute;
}